.app-header {
  background-color: $clr1;
  color: $clr1bg;
  padding: 1em calc(1em + $layoutPadding);

  .logo-login-container {
    flex-wrap: wrap;

    .logo {
      font-family: libre, sans-serif;
      font-size: 6rem;
    }

    form {
      flex-wrap: wrap;

      input {
        min-height: 40px;
      }
    }
  }

  nav {
    margin-block-end: 1em;

    a:not(:first-of-type) {
      margin-inline-start: 0.5em;
    }
  }
}
