.toy-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 1em;
    justify-content: flex-start;
}

.toy-list li {
    flex: 0 1 220px;
    justify-content: space-around;
    padding: 0.65em;
    background: var(--clr3bg);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);

    >div {
        gap: 0.5em;
        margin-top: 0.5em;
    }
}