.toy-list {
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 1em;
    justify-content: flex-start;
    /* background-color: var(--clr1bg); */
}

.toy-list li {
    justify-content: space-around;
    padding: 0.65em;
}