.toy-preview {
    text-align: center;
    padding: 0.3em;
    width: 220px;
    justify-content: flex-start;

    >article {
        background-color: var(--clr3bg);
    }
}

.toy-preview h4 {
    text-transform: capitalize;
    color: black;
}

.toy-preview img {
    max-width: 100px;
}